force-app/main/default/flows/B2B_Onboarding_Sample_Initiate_Application_Form_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Adds the Applicant records to the ApplicantId collection variable and assigns the values for the fields in the Applicant record.</description>
        <name>AddApplicantRecords</name>
        <label>Add Applicant Records</label>
        <locationX>3152</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>Applicant.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Applicant.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Applicant.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Applicant.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Applicant.ApplicationFormId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>applicationFormId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Applicant.PartyProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartyProfileId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>applicantsRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Applicant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HasAdditionalApplicants</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsAdditionalApplicants</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AreAdditionalApplicantsNeeded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets different fields of the applicant record and stores them in a collection.</description>
        <name>AssignApplicantFromLead</name>
        <label>Assign Applicant From Lead</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>Applicant.ApplicationFormId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>applicationFormId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Applicant.PartyProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartyProfileId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>applicantsRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Applicant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HasAdditionalApplicants</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddAdditionalApplicants</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Applicant.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetLeadRecord.Company</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateFlowOrchestrationInstRelatedObj3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the ID of the Party Profile record returned from the CreatePartyProfile element to the PartyProfileId variable, and then sets the stage of the Applicant record in the ApplicantId record variable to In Review.</description>
        <name>AssignPartyProfileIdAndSetStage</name>
        <label>Assign Party Profile ID and Set Stage</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>PartyProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TempPartyProfileId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Applicant.Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignApplicantFromLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the ID of the Party Profile record returned from the CreatePartyProfile2 element to the ReturnedPartyProfileId variable, and then sets the stage of the Applicant record in the ApplicantId record variable to In Review.</description>
        <name>AssignPartyProfileIdAndSetStage2</name>
        <label>Assign Party Profile ID and Set Stage</label>
        <locationX>3746</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>PartyProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TempPartyProfileId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Applicant.Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateFlowOrchestrationInstRelatedObj4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the ID of the Party Profile record returned from the CreatePartyProfile3 element to the PartyProfileId variable, and then sets the stage of the Applicant record in the ApplicantId record variable to In Review.</description>
        <name>AssignPartyProfileIDAndSetStage3</name>
        <label>Assign Party Profile ID and Set Stage</label>
        <locationX>2162</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>PartyProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TempPartyProfileId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Applicant.Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateFlowOrchestrationInstRelatedObj</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the ID of the Party Profile record returned from the CreatePartyProfile element to the PartyProfileId variable, and then sets the stage of the Applicant record in the ApplicantId record variable to Approved.</description>
        <name>AssignPartyProfileIdAndSetStage4</name>
        <label>Assign Party Profile ID and Set Stage</label>
        <locationX>2954</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>PartyProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TempPartyProfileId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Applicant.Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateFlowOrchestrationInstRelatedObj2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>When an error occurs during the flow execution, sets the isFlowFailed variable to True and stores the error message in the errorMessage variable.</description>
        <name>SetFlowToFailed</name>
        <label>Set Flow to Failed</label>
        <locationX>842</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>isFlowFailed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the IsFlowFailed variable to True if no record was returned from the GetLead element.</description>
        <name>SetNullFlowFailed</name>
        <label>Set Flow to Failed</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>isFlowFailed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>We couldn’t find any Lead record for the Application Form. Try again later or ask your Salesforce Admin for help. </stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>When an error occurs during the flow execution, sets the isFlowFailed variable to True and stores the error message in the errorMessage variable.</description>
        <name>SetNullFlowFailed2</name>
        <label>Set Flow to Failed</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>isFlowFailed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>We couldn’t find any application form to initiate the onboarding. Try again later or ask your Salesforce Admin for help. </stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assigns the value of the HasAdditionalApplicants variable based on the user’s input in the AddAdditonalApplicants element.</description>
        <name>SetVariablesToAddAdditionalApplicants</name>
        <label>Set Variables to Add Additional Applicants</label>
        <locationX>1865</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>HasAdditionalApplicants</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddAdditionalApplicants</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AreAdditionalApplicantsNeeded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Stores the values of the Application Form Product fields in variables.</description>
        <name>StoreApplicationFormProduct</name>
        <label>Store Application Form Product</label>
        <locationX>1089</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ApplicationFormProduct.ProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectProduct.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationFormProduct.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectProduct.recordName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationFormProduct.ApplicationFormId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>applicationFormId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>applicationFormProductName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectProduct.recordName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WasTheLeadRecordReturned</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Displays No on a screen</description>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <description>Displays Yes on a screen</description>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Checks if the AddAdditionalApplicants variable is set to True.</description>
        <name>AreAdditionalApplicantsNeeded</name>
        <label>Are Additional Applicants Needed?</label>
        <locationX>1865</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>AddApplicants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>AdditionalApplicantsNotNeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasAdditionalApplicants</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreatePartyProfile</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if GetActivePartyProfile element returned any records.</description>
        <name>AreThereActivePartyProfiles</name>
        <label>Are There Active Party Profiles?</label>
        <locationX>2558</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>AssignPartyProfileIdAndSetStage4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>NoActivePartyProfiles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TempPartyProfileId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreatePartyProfile3</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the applicant that the user selects in the AddApplicants element is an existing customer.</description>
        <name>IsApplicantExistingCustomer</name>
        <label>Is Applicant an Existing Customer?</label>
        <locationX>3152</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>CreateAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>ApplicantIsExistingCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApplicantIsExistingCustomer2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetActivePartyProfile</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the stage of the Application Form record is set to Initiated.</description>
        <name>IsApplicationFormStageInitiated</name>
        <label>Is the Application Form Stage Set to Initiated?</label>
        <locationX>3077</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>OnboardingInProgress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>ApplicationFormStageIsInitiated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetApplicationForm.Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetApplicationForm.Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initiated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetLeadRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the GetApplicationForm element returned a record.</description>
        <name>WasApplicationFormRecordReturned</name>
        <label>Was the Application Form Record Returned?</label>
        <locationX>1563</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>IsApplicationFormStageInitiated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>ApplicationFormRecordNotReturned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetApplicationForm</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNullFlowFailed2</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the GetLeadRecord element returned a record.</description>
        <name>WasTheLeadRecordReturned</name>
        <label>Was the Lead Record Returned?</label>
        <locationX>1089</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>AddAdditonalApplicants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>LeadRecordNotReturned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLeadRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNullFlowFailed</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>B2B Onboarding Sample: Initiate Application Form Onboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Onboarding Sample: Initiate Application Form Onboarding</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Assessments</name>
        <label>Create Assessments</label>
        <locationX>578</locationX>
        <locationY>1970</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetLeadRecord.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssessmentStatus</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GetLeadRecord.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResponseContextId</field>
            <value>
                <elementReference>GetApplicationForm.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>B2B Account Sample</stringValue>
            </value>
        </inputAssignments>
        <object>Assessment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates an Account record for the applicant if the applicant isn’t an existing customer.</description>
        <name>CreateAccount</name>
        <label>Create Account</label>
        <locationX>3746</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>CreatePartyProfile2</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetFlowToFailed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates Applicant records for records in the ApplicantsRecordCollection variable.</description>
        <name>CreateApplicant</name>
        <label>Create Applicant</label>
        <locationX>578</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>UpdateApplicationForm</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetFlowToFailed</targetReference>
        </faultConnector>
        <inputReference>applicantsRecordCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create Application Form Product record based on the user selection in the SelectApplicationFormProduct element.</description>
        <name>CreateApplicationFormProduct</name>
        <label>Create Application Form Product</label>
        <locationX>578</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>Create_Assessments</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetFlowToFailed</targetReference>
        </faultConnector>
        <inputReference>ApplicationFormProduct</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creates a Flow Orchestration Instance Related Object with Party Profile as the RelatedObject and status as In Progress.</description>
        <name>CreateFlowOrchestrationInstRelatedObj</name>
        <label>Create Flow Orchestration Instance Related Object</label>
        <locationX>2162</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>AddApplicantRecords</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetFlowToFailed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RelatedObjectId</field>
            <value>
                <elementReference>PartyProfileId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>InProgress</stringValue>
            </value>
        </inputAssignments>
        <object>FlowOrchestrationInstRelaObj</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Flow Orchestration Instance Related Object with Party Profile as the RelatedObject and status as In Progress.</description>
        <name>CreateFlowOrchestrationInstRelatedObj2</name>
        <label>Create Flow Orchestration Instance Related Object</label>
        <locationX>2954</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>AddApplicantRecords</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetFlowToFailed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RelatedObjectId</field>
            <value>
                <elementReference>PartyProfileId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>InProgress</stringValue>
            </value>
        </inputAssignments>
        <object>FlowOrchestrationInstRelaObj</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Flow Orchestration Instance Related Object with Party Profile as the RelatedObject and status as In Progress.</description>
        <name>CreateFlowOrchestrationInstRelatedObj3</name>
        <label>Create Flow Orchestration Instance Related Object</label>
        <locationX>578</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>CreateApplicant</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetFlowToFailed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RelatedObjectId</field>
            <value>
                <elementReference>PartyProfileId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>InProgress</stringValue>
            </value>
        </inputAssignments>
        <object>FlowOrchestrationInstRelaObj</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Flow Orchestration Instance Related Object with Party Profile as the RelatedObject and status as In Progress.</description>
        <name>CreateFlowOrchestrationInstRelatedObj4</name>
        <label>Create Flow Orchestration Instance Related Object</label>
        <locationX>3746</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>AddApplicantRecords</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetFlowToFailed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RelatedObjectId</field>
            <value>
                <elementReference>PartyProfileId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>InProgress</stringValue>
            </value>
        </inputAssignments>
        <object>FlowOrchestrationInstRelaObj</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Party Profile record if the Applicant has an Account with the Account Type as Customer and doesn&apos;t already have a Party Profile record.</description>
        <name>CreatePartyProfile</name>
        <label>Create Party Profile</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignRecordIdToReference>TempPartyProfileId</assignRecordIdToReference>
        <connector>
            <targetReference>AssignPartyProfileIdAndSetStage</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetFlowToFailed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetLeadRecord.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GetLeadRecord.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage</field>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </inputAssignments>
        <object>PartyProfile</object>
    </recordCreates>
    <recordCreates>
        <description>Creates a Party Profile record if it’s not already created for the existing customer.</description>
        <name>CreatePartyProfile2</name>
        <label>Create Party Profile</label>
        <locationX>3746</locationX>
        <locationY>1538</locationY>
        <assignRecordIdToReference>TempPartyProfileId</assignRecordIdToReference>
        <connector>
            <targetReference>AssignPartyProfileIdAndSetStage2</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetFlowToFailed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>CreateAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!FirstName} {!LastName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryEmail</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryPhone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage</field>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </inputAssignments>
        <object>PartyProfile</object>
    </recordCreates>
    <recordCreates>
        <description>Create Party Profile record for Applicant who is an existing customer but no active party profile.</description>
        <name>CreatePartyProfile3</name>
        <label>Create Party Profile</label>
        <locationX>2162</locationX>
        <locationY>1646</locationY>
        <assignRecordIdToReference>TempPartyProfileId</assignRecordIdToReference>
        <connector>
            <targetReference>AssignPartyProfileIDAndSetStage3</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetFlowToFailed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!FirstName} {!LastName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryEmail</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryPhone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage</field>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </inputAssignments>
        <object>PartyProfile</object>
    </recordCreates>
    <recordLookups>
        <description>Gets the Party Profile record for the account selected by the user in the AddApplicants element, and if the Next Profile Review Date is on or after today&apos;s date.</description>
        <name>GetActivePartyProfile</name>
        <label>Get Active Party Profile</label>
        <locationX>2558</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AreThereActivePartyProfiles</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetFlowToFailed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountLookup.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NextProfileReviewDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>PartyProfile</object>
        <outputAssignments>
            <assignToReference>TempPartyProfileId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the Application Form record whose ID matches the ID of the Application form record passed into the flow.</description>
        <name>GetApplicationForm</name>
        <label>Get Application Form</label>
        <locationX>1563</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WasApplicationFormRecordReturned</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetFlowToFailed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>applicationFormId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ApplicationForm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Lead record associated with the Application Form record that’s being onboarded.</description>
        <name>GetLeadRecord</name>
        <label>Get Lead Record</label>
        <locationX>1089</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectApplicationFormProduct</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetFlowToFailed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetApplicationForm.LeadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the stage of the Application Form record to In Progress.</description>
        <name>UpdateApplicationForm</name>
        <label>Update Application Form</label>
        <locationX>578</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>CreateApplicationFormProduct</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetFlowToFailed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>applicationFormId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>ApplicationForm</object>
    </recordUpdates>
    <screens>
        <description>Allows the user to view the Lead record details returned by the GetLead elements and decide if more applicants are needed.</description>
        <name>AddAdditonalApplicants</name>
        <label>Add Additional Applicants</label>
        <locationX>1865</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetVariablesToAddAdditionalApplicants</targetReference>
        </connector>
        <fields>
            <name>AddAdditonalApplicants_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AddAdditonalApplicants_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FirstName1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetLeadRecord.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>LastName1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetLeadRecord.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AddAdditonalApplicants_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email1</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>GetLeadRecord.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>username@example.com</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Phone1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetLeadRecord.Phone</elementReference>
                    </defaultValue>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AddAdditionalApplicants</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Add Additional Applicants</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows the users to provide applicant details.</description>
        <name>AddApplicants</name>
        <label>Add Applicants</label>
        <locationX>3152</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsApplicantExistingCustomer</targetReference>
        </connector>
        <fields>
            <name>AddApplicants_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AddApplicants_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FirstName</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Email</name>
                    <dataType>String</dataType>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AddApplicants_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LastName</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Phone</name>
                    <dataType>String</dataType>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ApplicantIsExistingCustomer2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Applicant is existing customer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AccountLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ApplicationForm</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ApplicantIsExistingCustomer2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>IsAdditionalApplicants</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Additional Applicants</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays a message to the user that application form onboarding is already in progress.</description>
        <name>OnboardingInProgress</name>
        <label>Onboarding In Progress</label>
        <locationX>5066</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ApplicationFormInitiated</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;The onboarding for the Application Form is already in progress. &lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows users to select the product associated with the application form.</description>
        <name>SelectApplicationFormProduct</name>
        <label>Select Application Form Product</label>
        <locationX>1089</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>StoreApplicationFormProduct</targetReference>
        </connector>
        <fields>
            <name>SelectProduct</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ProductId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ApplicationFormProduct</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ProductId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>fsc_onboarding__ApplFormOnboarding</sourceTemplate>
    <start>
        <locationX>1437</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetApplicationForm</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the Applicant record.</description>
        <name>Applicant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Applicant</objectType>
    </variables>
    <variables>
        <description>Stores the collection of applicant records.</description>
        <name>applicantsRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Applicant</objectType>
    </variables>
    <variables>
        <description>The ID of the Application Form record passed into the flow.</description>
        <name>applicationFormId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Application Form Product record.</description>
        <name>ApplicationFormProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApplicationFormProduct</objectType>
    </variables>
    <variables>
        <description>Stores the name of the Application Form Product record.</description>
        <name>applicationFormProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the error message if an exception occurs during flow execution.</description>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores a boolean value that indicates whether additional applicants are needed to onboard the application form.</description>
        <name>HasAdditionalApplicants</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores a boolean value that indicates whether the flow execution failed.</description>
        <name>isFlowFailed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of the Party Profile record returned from the CreatePartyProfile element.</description>
        <name>PartyProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the Product associated with the Application Form record.</description>
        <name>ProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the Party Profile record that was created by CreatePartyProfile element.</description>
        <name>TempPartyProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
