force-app/main/default/flows/CloseCollPlnAndAssocCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>CloseCollPlnAndAssocCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CloseCollPlnAndAssocCase</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a task record when the cases associated with a collection plan couldn’t be closed. Sets Description to a text value that specifies the error details, AssignedToID to OwnerId of the collection plan, Priority to Normal, Status to Not Started, Subject to Other, and RelatedToID to CollectionPlanID of the triggering collection plan record. Stores the ID of the new task record in TaskId from CreateTaskForCloseCasesError.</description>
        <name>CreateTaskForCloseCasesError</name>
        <label>Create Task</label>
        <locationX>836</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Something went wrong and we couldn&apos;t close the cases associated with the collection plan record {!$Record.Id}. {!$Flow.FaultMessage}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a task record when the specified collection plan record couldn’t be updated. Sets Description to a text value that specifies the error details, AssignedToID to OwnerId of Collection Plan, Priority to Normal, Status to Not Started, Subject to Other, and RelatedToID to CollectionPlanID of the triggering CollectionPlan record.Stores the ID of the new case record in TaskId from CreateTaskForUpdateCollectionPlanError.</description>
        <name>CreateTaskForUpdateCollectionPlanError</name>
        <label>Create Task</label>
        <locationX>572</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Something went wrong and we couldn&apos;t close the collection plan record {!$Record.Id}. {!$Flow.FaultMessage}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>Sets the Status field to Closed for cases with Source ID that matches the Collection Plan ID of the record that triggered the flow.</description>
        <name>CloseCasesRelatedToCollectionPlan</name>
        <label>Close Cases Related to Collection Plan</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>UpdateCollectionPlan</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateTaskForCloseCasesError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Cases</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the collection plan record, setting isClosed to True and ClosedDate to the current date and time.</description>
        <name>UpdateCollectionPlan</name>
        <label>Update Collection Plan</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <faultConnector>
            <targetReference>CreateTaskForUpdateCollectionPlanError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ClosedDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsClosed</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <sourceTemplate>collection__CloseCollPlnAndAssocCase</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR (3 AND 4))</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CurrentDueAmount</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>CurrentDueAmount</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>DaysPastDue</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>CollectionPlan</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>CloseCasesRelatedToCollectionPlan</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
