force-app/main/default/flows/CreateCaseForCollPlan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an action that runs business rules to determine the reason, priority, and type to update the relevant fields of the case record to be created for this collection plan. The business rules determine the reason and related attributes based on the associated collection plan reason code.</description>
        <name>DetermineCaseReasonAndRelatedAttributes</name>
        <label>Determine Case Reason and Related Attributes</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>DetermineCaseReasonAndRelatedAttributes</actionName>
        <actionType>runDecisionMatrix</actionType>
        <connector>
            <targetReference>CreateCase</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateTaskErrorDetermineCaseReasonAndRelatedAttributes</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Code</name>
            <value>
                <elementReference>$Record.CollectionPlanReason.Code</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DetermineCaseReasonAndRelatedAttributes</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>CreateCaseForCollPlan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateCaseForCollPlan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a case for the triggering collection plan record. Sets Status to New, Case Source ID to CollectionPlanID of the triggering CollectionPlan record. Sets Account ID, Contact ID, and Owner ID to Account ID, Contact ID, and Owner ID of the triggering CollectionPlan record respectively. Sets the Priority, Case Reason, and Type to Priority, Reason, and Type returned by DetermineCaseReasonAndRelatedAttributes.</description>
        <name>CreateCase</name>
        <label>Create Case for Collection Plan</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <faultConnector>
            <targetReference>CreateTaskForCollectionPlanError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>DetermineCaseReasonAndRelatedAttributes.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>DetermineCaseReasonAndRelatedAttributes.Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!$Record.Account.Name} Collections Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>DetermineCaseReasonAndRelatedAttributes.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a task record when there’s an error determining case reason and related attributes. Sets Description to a text value that specifies the error details, AssignedToID to OwnerId of the collection plan, Priority to Normal, Status to Not Started, Subject to Other, and RelatedToID to CollectionPlanID of the triggering collection plan record. Stores the ID of the new task record in TaskId from CreateTaskForDecisionMatrixError.</description>
        <name>CreateTaskErrorDetermineCaseReasonAndRelatedAttributes</name>
        <label>Create Task</label>
        <locationX>704</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>We couldn&apos;t create a case for the collection plan record {!$Record.Id} because the decision matrix specified in the DetermineCaseReasonAndRelatedAttributes action element is invalid or inaccessible. {!$Flow.FaultMessage}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a task record when a case couldn’t be created for the collection plan. Sets Description to a text value that specifies the error details, AssignedToID to OwnerId of the collection plan, Priority to Normal, Status to Not Started, Subject to Other, and RelatedToID to CollectionPlanID of the triggering collection plan record. Stores the ID of the new task record in TaskId from CreateTaskForCollectionPlanError.</description>
        <name>CreateTaskForCollectionPlanError</name>
        <label>Create Task for Collection Plan Error</label>
        <locationX>440</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Something went wrong and we couldn&apos;t create a case for the collection plan record {!$Record.Id}. {!$Flow.FaultMessage}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <sourceTemplate>collection__CreateCaseForCollPlan</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DetermineCaseReasonAndRelatedAttributes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CollectionPlanReasonId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CollectionPlan</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
