force-app/main/default/flows/Digital_Lending_Assign_Application_Action_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Adds the ID of the current application form participant to the GroupIds collection variable.</description>
        <name>AddGroupIdToCollection</name>
        <label>Add Group ID to Collection</label>
        <locationX>528</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>GroupIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverApplicationFormParticipants.ParticipantId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverApplicationFormParticipants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the ID of the current user or group to the UserIds collection variable.</description>
        <name>AddGroupMembersToCollection</name>
        <label>Add Group Members to Collection</label>
        <locationX>264</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>UserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverGroupMembers.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverGroupMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the ID of the current application form participant to the UserIds collection variable.</description>
        <name>AddUserIdToCollection</name>
        <label>Add User ID to Collection</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>UserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverApplicationFormParticipants.ParticipantId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverApplicationFormParticipants</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>The review offer choice of task.</description>
        <name>ReviewOffer</name>
        <choiceText>{!ReviewOfferOption}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ReviewOfferOption</elementReference>
        </value>
    </choices>
    <constants>
        <description>Text constant used in the ReviewOffer choice in ScreenCollectActionItems.</description>
        <name>ReviewOfferOption</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Review Offer</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines whether the application form participant is a user or group record by checking if the Participant ID of the current item in the loop starts with 005.</description>
        <name>IsApplicationFormParticipantUserOrGroup</name>
        <label>Is Application Form Participant User or Group?</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>AddGroupIdToCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Group</defaultConnectorLabel>
        <rules>
            <name>IsUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateOverApplicationFormParticipants.ParticipantId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddUserIdToCollection</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <description>Allows a flow user to create and assign an assign and application action item.</description>
    <dynamicChoiceSets>
        <description>Users from the User from GetUsers record collection.</description>
        <name>Users</name>
        <collectionReference>GetUsers</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Digital Lending: Assign Application Action Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Digital Lending: Assign Application Action Item</label>
    <loops>
        <description>Repeats actions for each individual record from the Application Form Participants from Get Application Form Participants collection variable.</description>
        <name>IterateOverApplicationFormParticipants</name>
        <label>Iterate Over Application Form Participants</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>GetApplicationFormParticipants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsApplicationFormParticipantUserOrGroup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetGroupMember</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Repeats an action for each individual group member record from the Group Member from GetGroupMember record collection.</description>
        <name>IterateOverGroupMembers</name>
        <label>Iterate Over Group Members</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <collectionReference>GetGroupMember</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddGroupMembersToCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetUsers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates an application record and sets fields using the flow user’s inputs from ScreenCollectActionItem.</description>
        <name>CreateApplicationActionItem</name>
        <label>Create Application Action Item</label>
        <locationX>176</locationX>
        <locationY>1466</locationY>
        <faultConnector>
            <targetReference>ScreenDisplayErrorCreaApplnActionItem</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AssignedToId</field>
            <value>
                <elementReference>AssigneePicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionLongTextArea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>TaskTypePicklist</elementReference>
            </value>
        </inputAssignments>
        <object>ApplicationActionItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets Application Form Participant records with an application form ID matching the application form ID from the Application Form Product from Get Application Form Product record variable.</description>
        <name>GetApplicationFormParticipants</name>
        <label>Get Application Form Participants</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateOverApplicationFormParticipants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationFormId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetApplicationFormProduct.ApplicationForm</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ApplicationFormParticipant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Application Form Product record with an ID matching the record ID passed into the flow. Stores the record in the Application Form Product from Get Application Form Product record variable.</description>
        <name>GetApplicationFormProduct</name>
        <label>Get Application Form Product</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetApplicationFormParticipants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ApplicationFormProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets Group Member records with a group ID in the GroupIds collection variable. Stores the result in the Group Member from GetGroupMember record collection.</description>
        <name>GetGroupMember</name>
        <label>Get Group Member</label>
        <locationX>176</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateOverGroupMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>In</operator>
            <value>
                <elementReference>GroupIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets user records with an ID matching the UserIDs collection. Stores the result in the User from GetUsers record collection.</description>
        <name>GetUsers</name>
        <label>Get Users</label>
        <locationX>176</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenCollectActionItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>UserIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Allows the flow user to assign a task to a user.</description>
        <name>ScreenCollectActionItems</name>
        <label>Collect Action Items</label>
        <locationX>176</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateApplicationActionItem</targetReference>
        </connector>
        <fields>
            <name>ScreenCollectActionItemsHeading</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Action Items&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TaskTypePicklist</name>
            <choiceReferences>ReviewOffer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Task Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AssigneePicklist</name>
            <choiceReferences>Users</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Assignee</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SubjectText</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DescriptionLongTextArea</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DueDate</name>
            <dataType>Date</dataType>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit Action Item</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays an error to the flow user when there&apos;s an error creating an application action item record.</description>
        <name>ScreenDisplayErrorCreaApplnActionItem</name>
        <label>Display Error</label>
        <locationX>440</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorCreateAppActionItemDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(221, 9, 9); font-size: 12px; font-family: sfmono-regular, consolas, menlo, &amp;quot;dejavu sans mono&amp;quot;, monospace; background-color: var(--mark-bg);&quot;&gt;Something went wrong and we couldn’t create an action item. Ask your financial institution for help with the following error:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>industriesdigitallending__AsgnActnItm</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetApplicationFormProduct</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <description>Stores the application form participant IDs of groups.</description>
        <name>GroupIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record ID of the application form product record that was passed into the flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{recordId}</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the application form participant IDs of users.</description>
        <name>UserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
