force-app/main/default/flows/Update_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an action that processes an asynchronous Apex request.</description>
        <name>Initiate_Async_Callout</name>
        <label>Make Async Apex Call</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <actionName>industriesSendApexAsyncRequest</actionName>
        <actionType>industriesSendApexAsyncRequest</actionType>
        <connector>
            <targetReference>Pause_Flow_Execution</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Async_Callout_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>IntegrationDefinition</name>
            <value>
                <elementReference>IntegrationDefinition</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RequestGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InputRecordId</name>
            <value>
                <elementReference>InitiatedInputRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>industriesSendApexAsyncRequest</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Sets the isActionFailed output variable to true.</description>
        <name>Set_Async_Callout_Failed</name>
        <label>Set Output Variable</label>
        <locationX>392</locationX>
        <locationY>882</locationY>
        <assignmentItems>
            <assignToReference>AsyncCalloutFailed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Determines whether the HasActionFailed formula evaluates to true.</description>
        <name>Check_Async_Callout_Failed</name>
        <label>Did Action Fail?</label>
        <locationX>805</locationX>
        <locationY>698</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckAsyncCalloutFailed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Async_Callout_Failed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Evaluates to true if the asynchronous request response event record&apos;s response payload isn&apos;t &quot;issuccess&quot;.</description>
        <name>CheckAsyncCalloutFailed</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!PlatformEventResponse.ResponsePayload}, &apos;(?i).*&quot;issuccess&quot;\\s*:\\s*false.*&apos;)</expression>
    </formulas>
    <interviewLabel>Update Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <sourceTemplate>serviceprocess__auwakeflow</sourceTemplate>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initiate_Async_Callout</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the Boolean value identifying if the MakeAsyncApexCall action failed. Available as output from the flow.</description>
        <name>AsyncCalloutFailed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InitiatedInputRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IntegrationDefinition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>fsc_address_update_integration_provider_definition</stringValue>
        </value>
    </variables>
    <variables>
        <name>PlatformEventReceived</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores the response from the asynchronous request response event with a request GUID that matches the interview GUID for the currently running flow.</description>
        <name>PlatformEventResponse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AsyncRequestResponseEvent</objectType>
    </variables>
    <waits>
        <description>&gt;Pauses the flow until it receives an asynchronous request response event with a request GUID that matches the interview GUID for the currently running flow. 
             Stores the event payload in the PlatformEventResponse record variable.</description>
        <name>Pause_Flow_Execution</name>
        <label>Wait for Platform Event</label>
        <locationX>521</locationX>
        <locationY>451</locationY>
        <defaultConnector>
            <targetReference>Set_Async_Callout_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Resume_on_Platform_Event</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Check_Async_Callout_Failed</targetReference>
            </connector>
            <eventType>AsyncRequestResponseEvent</eventType>
            <inputParameters>
                <name>RequestGuid</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <label>Event Received</label>
            <outputParameters>
                <assignToReference>PlatformEventResponse</assignToReference>
                <name>AsyncRequestResponseEvent</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
